* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.app {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.code {
    margin: 0 10px;
    background-color: #cecccc91;
    padding: 6px 3px;
    border-radius: 3px 2px;
}

.instructions {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.content {
    padding: 10px;
    margin: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flex-row {
    display: flex;
    text-align: center;
    margin: 10px;
    align-items: baseline;
}